.headercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.menuicon {
  font-size: 24px;
  cursor: pointer;
  display: block; /* Hide by default for larger screens */
}

@media (max-width: 768px) {
  .menuicon {
      display: block; /* Show the menu icon on smaller screens */
  }

  /* Add more styles for smaller screens if needed */
}
