.wolves-section {
    background-color: #BD72D3;
    padding: 40px 0;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.wolves-section h2 {
    color: #fff;
    font-size: 2em;
    margin-right: 40px;
}

.arrow-image,
.second-image {
    width: calc(30% - 10px);
    /* Subtracting the margin to ensure they fit in one line */
    margin-right: 10px;
    z-index: 2;
    position: relative;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .wolves-section {
        flex-direction: column;
        align-items: center;
        /* Centering everything on mobile */
        padding-left: 5%;
        padding-right: 5%;
    }

    .wolves-section h2 {
        font-size: 2em;
        margin-bottom: 20px;
        text-align: center;
        /* Center the text */
    }

    .arrow-image,
    .second-image {
        width: 80%;
        margin-bottom: 20px;
    }
}